*{

box-sizing: border-box;

}

body{

font-family: SansSerif;

padding: 50px;

}

/* Create two columns that floats next to each other */
/* Left column */
.leftcolumn {

float: left;
  	
width: 50%;

}

/* Right column */
.rightcolumn {

float: left;

width: 50%;

background-color: #f1f1f1;

padding-left: 20px;

}

.card {

background-color: #f1f1f1;

padding: 20px;

margin-top: 25px;

}

.row:after {

content: "";

display: table;

clear: both;

}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

.leftcolumn, .rightcolumn {   

width: 100%;

padding: 0;

}

}

}