.labelContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .labelContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .labelcheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .labelContainer:hover input ~ .labelcheckmark {
    background-color: #ccc;
  }

  .labelContainer input:checked ~ .labelcheckmark {
    background-color: #176696;;
  }
  
  .labelcheckmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .labelContainer input:checked ~ .labelcheckmark:after {
    display: block;
  }

  .labelContainer .labelcheckmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }